{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 style="color: var(--colorA)">Inscription</h1>
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.tel) }}
         {{ form_row(form.Poste) }}




        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>

        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - inscription
{% endblock %}